<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include cover_head.html -%}

  <body class="text-center" style="background-image: url('{{site.baseurl}}/assets/img/hexa_pattern.png');">
  <div class="div-overlay"></div>

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" style="z-index:1;">
      {%- include cover_header.html -%}

      <main role="main" class="inner cover">
      {{content}}
      </main>

      {%- include cover_footer.html -%}

    </div>

    {%- include endjs.html -%}

  </body>

</html>
